  body {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    margin: 0;
  }
  
  #content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 50px; */
  }
  
  #video-wrapper {
    background-position: top;
  }
  
  video {
    /* display: block; */
    /* border-radius: 50%; */
    background-position: top;
    /* position: absolute; */
    background-size: contain;
  }
  
  .animated {
    animation: opacityAnimation 0.2s ease-in-out;
  }
  
  @keyframes opacityAnimation {
  from { opacity: 0.8; }
  to { opacity: 1; }
  }
  